.map-location{
    position: relative;
    top: 110pc;
    
   
}
.map-text{
    position: absolute;
    right: 8pc;
    bottom:17.5pc;
    text-align: center;
    color: white;
}
.map-text p{
    font-size: 10px;
    color: gray;
}
.map-text h2{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map .frame{
    position: absolute ;
    right:2pc;
    bottom: 40px;
}