.map-location{
    position: relative;

}
.map-text{
    position: absolute;
    right: 8pc;
    bottom:17.5pc;
    text-align: center;
    color: white;
}
.map-text p{
    font-size: 10px;
    color: gray;
}
.map-text h2{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.map .frame{
    position: absolute ;
    right:2pc;
    bottom: 40px;
}
@media(max-width:1024px) and  (min-width:768px) {
    .map-text{
        display: none;
    }
    .map .frame{
        display: none;
    }
}
@media (max-width:426px)and (min-width:320px){
    .map-text{
        display: none;
    }
    .map .frame{
        display: none;
    }
}
