.leftside {
    background-color: rgb(49, 49, 49);
    max-width: 250px;
    max-height: 27pc;
    position: relative;
    top: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Search  */
.leftside .Bookingpage-input {
    background-color: white;
    outline: none;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

/* Price Filter */
.pricefilter {
    text-align: left;
    margin-top: 10px;
}

.pricefilter .color {
    color: black;
    background-color: white;
    font-size: 10px;
    margin-top: 5px;
    outline: none;
    border: none;
    /* margin-left: 5px; */
}

.pricefilter h4 {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.pricefilter p {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

/* Budget  */
.budget input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    max-width: 70px;
    text-align: center;
}

.budget ul {
    display: flex;
    gap: 10px;
    margin-left: -30px;
}

.budget li {
    list-style: none;
}

.budget input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* DateBooking  */
.bp-arrival h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.bp-departure h3 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.bp-arrival .startdate {
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: gray;
}

.bp-departure .enddate {
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: gray;
}

/* Person  */
.bp-person .guestname {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.person-counts .guests {
    font-size: 18px;
    /* border: 1px solid black; */
    width: 150px;
    background-color: #fff;
    margin: auto;
    padding: 6px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    color: gray;
}

.person-counts .guests:hover {
    background-color: rgb(176, 176, 176, 0.7);
    color: white;
}

/* Guest box  */
.person-counts .twobox {
    position: relative;
    top: 20px;
    left: -15px;
}

.twobox.opened {
    opacity: 1;
    pointer-events: auto;
    animation-name: silder;
    animation-duration: 0.5s;
}

@keyframes silder {
    0% {
        top: -10px;
    }

    100% {
        top: 20px;
    }
}


/* Cards  */
.cardpage {
    position: relative;
    top: 100px;
}

.bp-card {
    max-width: 300px;
    text-align: center;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.bp-card img {
    width: 290px;
    max-height: 200px;
    border-radius: 15px;
    padding: 10px;
}

.bp-card h3 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.bp-card button {
    padding: 8px 25px;
    border: none;
    outline: none;
    background-color: rgb(49, 49, 49);
    border-radius: 15px;
    color: white;
    margin-bottom: 10px;
}

/* Message  */
.message p {
    position: fixed;
    bottom: 0px;
    left: 10px;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 10px;
    border-radius: 5px;

}

.filter-menuicon i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 4.5pc;
    z-index: 3;
    /* border: 1px solid black; */
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: gray;
    transition: 0.5s;

}

.filter-menuicon i:hover {
    color: white;
    border: none;
}

.filter-menuicon {
    display: none;
}

/* form  */
.Details {
    border: 1px solid rgba(0, 0, 0, 0.167);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.89);
    text-align: left;
    width: 50%;
    left: 24pc;
    top: 100px;
    padding: 20px;
    box-shadow: 10px 10px 10px 0 rgba(54, 54, 54, 0.3);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.Details label {
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: left;

}

.Details input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

.Details button {
    display: grid;
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    font-size: 16px;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.Details legend {
    display: grid;
    justify-content: center;
}
.Details.openDetails{
    max-height:1110px;
    opacity: 1;
}
.Details .bi-x-lg{
    cursor: pointer;
    position: relative;
    left: 43pc;
    bottom: 2.4pc;
    font-weight: bolder;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}


@media (max-width:1024px) and (min-width:768px) {
    .leftside {
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        max-height: 0;
        opacity: 0;
        /* overflow: hidden; */
        transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
        top: 8pc;
    }

    .leftside.filterOpen {
        max-height: 450px;
        opacity: 1;
    }

    .filter-menuicon {
        display: block;

    }

    /* card  */
    .cardpage {
        left: 10pc;
        top: 10pc;
    }

    .bp-card {
        position: relative;
        right: 7pc;
        border: 1px solid rgba(54, 54, 54, 0.3);
    }

    body,
    html {
        overflow-x: hidden;
        width: 100%;
    }

}

@media (max-width:426px) and (min-width:320px) {
    .leftside {
        z-index: 2;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
        left: 10%;

    }

    .leftside.filterOpen {
        max-height: 450px;
        opacity: 1;
        margin-bottom: 4pc;
    }

    .filter-menuicon {
        display: block;
        position: absolute;
        top: 70px;
        left: 10px;
        z-index: 10;
        cursor: pointer;
        pointer-events: auto;
    }

    .filter-menuicon i {
        font-size: 13px;
        padding: 5px 10px;
        top: -10px;
    }

    .cardpage {
        position: relative;
        right: 17px;
        top: 60px;
    }

    body,
    html {
        overflow-x: hidden;
        width: 100%;
    }
}