.footer{
    position: relative;
    background-color: black;
    height: 370px;
}
.about-text{
    text-align: left;
}
.about-icon{
    text-align: left;
}
/* about text  */
.about-text h1{
    position: absolute;
    top: 20px;
    left: 40pc;
    color: white;
    padding: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.about-text p{
    position: absolute;
    top: 5pc;
    left: 33pc;
    text-align: center;
    color: gray;
    width: 450px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* about input  */
.about-input{
    padding: 10px;
    outline: none;
    border: 1px solid rgb(55, 132, 55);
    margin-top: 30px;
    height: 50px;
    width: 300px;
    color: white;
    position: absolute;
    bottom: 7pc;
    left: 35pc;
    background-color: transparent;
}
.about-input::placeholder{
    color: gray;
}
.about-btn{
    border: none;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(55, 132, 55);
    color: white;
    position: absolute;
    bottom: 7pc;
    left: 53.7pc;
}
/* about icon  */
.about-icon{
    position: absolute;
    bottom: 0;
    left:20px;
    text-align: left;
    margin-bottom: 10px;
    bottom: 2pc;
    /* display: flex; */
}
.about-icon i{
   padding: 10px;
   position: relative;
   right: 10px;
   top: 15px;
  
}
.about-icon h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 10px;
}
.about-icon .linkedin{
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in-out;
}
.about-icon .linkedin:hover{
    color: blue;

}


/* Contact us  */

.contact h4{
    color: white;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 20px;
    top: 1.7pc;
    font-size: 20px;
}
.contact .add ,.add1{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 4pc;
    left: 20px;
    
}
.add1{
    top: 6pc;
    left: 15px;
    width: 400px;
}
.contact .others{
    position: relative;
    left: 0;
    top: 10pc;
    font-size: 15px;
}
.others .phone{
    color: gray;
    position: absolute;
    left: 20px;
}
.others .email{
    color: gray;
    position: absolute;
    top: 30px;
    left: 20px;

}
/* Name  */
.copyright{
    position: absolute;
    bottom: 40px;
    left: 37pc;
    color: gray;
}

@media  (max-width:768px) {
    .footer{
        height: 450px;
    }
    .about-text h1{
        left: 30pc;
    }
    .about-text p{
        left: 25pc;
        width:365px;
    }
    .about-input{
        width: 250px;
        top: 10pc;
        left: 10pc;
        text-align: center;
    }
    .about-btn{
        top: 11.9pc;
        left:25.7pc;
    }
    .contact h4{
        top: 2pc;
    }
    .contact .add{
        top: 5pc;
    }
    .contact .add1{
        top: 7pc;
    }
    .others .phone{
        top: 7pc;
        left: 8pc;
    }
    .others .email{
        top: 7pc;
        left: 25pc;
    }
    
    .copyright{
        
        left: 23pc;
    }
    
}

@media  (max-width:320px) {
    .footer{
        height: 530px;
    }
    
    /* contact  */
    .contact{
        position: relative;
        bottom: 6.5pc;
        left: 2pc;
    }
    .contact h4 {
        top: 20pc;
        font-size: 18px;
        
        font-family: serif;
        letter-spacing: 1px;
    }
    .contact .add{
        top: 22.6pc;
        font-size: 12px;
        
    }
    .contact .add1{
        font-size: 12px;
        top: 24pc;
        
        width: 200px;
    }
    .others .phone{
        font-size: 12px;
        top: 17pc;
        left: 19px;
    }
    .others .email{
        font-size: 12px;
        left: 19px;
        top: 18.5pc;
    }
    /* copyright  */
    .copyright{
        bottom: 1px;
        font-size: 12px;
        left: 2.4pc;
    }
    /* about-icons */
    .about-icon{
        bottom: 4pc;
        left: 3pc;
    }
    .about-icon h3{
        font-size: 16px;
        left: 2pc;
    }
    .about-icon i{
        right: 1pc;
        font-size: 15px;
    }
    /* about-text  */
    .about-text h1{
        font-size: 20px;
        left: 5pc;
    }
    .about-text p{
        font-size: 10px;
        width: 250px;
        left: 2pc;
        top: 4pc;
    }
    /* box  */
    .about-input{
        left: 3pc;
        height: 30px;
        width: 150px;
        font-size: 12px;
        top: 7pc;
    }
    .about-btn{
        font-size: 10px;
        height: 30px;
        left: 12pc;
        padding: 5px;
        top: 8.88pc;
    }



}
@media (max-width:426px) {
      .footer{
        height: 530px;
    }
    
    /* contact  */
    .contact{
        position: relative;
        bottom: 6.5pc;
        left: 2pc;
    }
    .contact h4 {
        top: 20pc;
        font-size: 18px;
        
        font-family: serif;
        letter-spacing: 1px;
    }
    .contact .add{
        top: 22.6pc;
        font-size: 12px;
        
    }
    .contact .add1{
        font-size: 12px;
        top: 24pc;
        
        width: 200px;
    }
    .others .phone{
        font-size: 12px;
        top: 17pc;
        left: 19px;
    }
    .others .email{
        font-size: 12px;
        left: 19px;
        top: 18.5pc;
    }
    /* copyright  */
    .copyright{
        bottom: 1px;
        font-size: 12px;
        left: 2.4pc;
    }
    /* about-icons */
    .about-icon{
        bottom: 4pc;
        left: 3pc;
    }
    .about-icon h3{
        font-size: 16px;
        left: 2pc;
    }
    .about-icon i{
        right: 1pc;
        font-size: 15px;
    }
    /* about-text  */
    .about-text h1{
        font-size: 20px;
        left: 5pc;
    }
    .about-text p{
        font-size: 10px;
        width: 250px;
        left: 2pc;
        top: 4pc;
    }
    /* box  */
    .about-input{
        left: 3pc;
        height: 30px;
        width: 150px;
        font-size: 12px;
        top: 7pc;
    }
    .about-btn{
        font-size: 10px;
        height: 30px;
        left: 12pc;
        padding: 5px;
        top: 8.88pc;
    }

}