* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 60px;
    position: fixed;
    width: 80%;
    z-index: 10;
    margin-left: 130px;
    margin-top: 8px;
    border-radius: 30px;

}

.logo h3 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
}


.navlinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 8px;
}

.navlinks li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 17px;
    font-weight: bold;
    padding: 0 15px;
    transition: 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navlinks li a:hover {
    color: rgb(98, 216, 98);
    text-shadow: none;
    font-size: 17.5px;
}

/* Contact  */

.contact-nav {
    /* border: 1px solid white; */
    text-align: right;
    margin-top: 14px;
}

.contact-nav i {
    color: white;
    font-size: 20px;
    padding: 30px;

}

.contact-nav a {
    text-decoration: none;

}

/* Home  */

.home {
    background-image: url("../assets/images/explore img1.jpg");
    /* -webkit-mask:linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 20%);   */
    backdrop-filter: blur(10px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    text-align: center;
}

.home-text {
    margin: auto;
}

.home-text h3 {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.home-text h1 {
    color: white;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.menuicon {
    display: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

@media (max-width:1024px) and (min-width:768px) {

    /* logo  */
    .header {
        width: 60%;
        height: 40px;
        margin-top: 10px;
        border-radius: 0;
    }

    .logo h3 {
        font-size: 20px;
        width: 200px;
        margin-top: 7px;

    }

    /* navbar  */

    .navlinks {
        flex-direction: column;
        background-color: black;
        text-align: center;
        display: none;
        padding: 10px;
        /* width: 100%; */
        border-radius: 10px;
        margin-top:3pc;
        margin-left: 10pc;
        

    }

    .navlinks.active {
        display: block;
    }

    /* contact  */
    .contact-nav {
        margin-top: 5px;
        margin-left: -80px;
        display: flex;
        /* border: 1px solid white; */
    }

    /* menuicon  */
    .menuicon {
        display: block;
        margin-left: 260px;
        margin-top: -6px;
        font-size: 1.5rem;
    }

    .menuicon .bi-x-lg {
        font-size: 20px;
        margin-left: 10px;
        position: absolute;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-name: rotate;
        animation-iteration-count: 1;
        animation-direction: normal;

    }

    @keyframes rotate {
        0% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


}

/* Moblie Screen Responsive  */
@media(max-width:426px) and (min-width:320px) {
    
    /* logo  */
    .header {
        width: 80%;
        height: 40px;
        margin-top: 10px;
        border-radius: 20px;
        margin-left: 28px;
    }

    .logo h3 {
        font-size: 14px;
        width: 200px;
        margin-top: 12px;
    }

    /* navbar  */

    .navlinks {
        flex-direction: column;
        background-color: black;
        text-align: center;
        display: none;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .navlinks.active {
        display: block;
    }

    /* contact  */
    
    .contact-nav i{
        font-size: 15px;
        position: relative;
        bottom: 9pc;
    }
    .mail,.mobile{
        display: none;
        
        padding: 10px 0 ;
       
    }
    .mail.active{
        display: block;
       
    }
    .mobile.active{
        display: block;
    }

    /* menuicon  */
    
    .menuicon {
        display: block;
        font-size: 1.3rem;
        position: absolute;
        right:20px;
        bottom: 15px;
    }

    .menuicon .bi-x-lg {
        font-size: 15px;
        bottom: 9.5pc;
        right: 3px;
        position: absolute;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-name: rotate;
        animation-iteration-count: 1;
        animation-direction: normal;

    }

    @keyframes rotate {
        0% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}