.explore{
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;

}   
.explore-text p{
    width: 100% ;  
    margin: auto;
}
.bgimg{
    background-image: url('../../assets/images/explore img1.jpg');
     -webkit-mask:linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 30%); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 20pc;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 70pc;
} 

/* Card Image  */
.explore-img{
    margin-top: 100px;
    margin-left: 20px;
}
.cardOne{
    height: 580px;
    width: 370px;
    overflow: hidden;
    text-align: center;
   
}
.cardOne .img1{
    height: 580px;
    width: 370px;
    transition: 0.3s;
}
.cardOne .img1:hover{
    scale: 1.05;
}
.card2{
    height: 370px;
    width: 340px;
    overflow: hidden;
    margin-top: 50px;
}
.card2 .img2{
    height: 370px;
    width: 340px;
    transition: 0.3s;
}
.card2 .img2:hover{
    scale: 1.05;
}
.card3{
    height: 450px;
    width: 320px;
    margin-top: 35px;
    overflow: hidden;
}
.card3 .img3{
    height: 450px;
    width: 320px;
    transition: 0.3s;
}
.card3 .img3:hover{
    scale: 1.05;
}
.card4{
    height: 650px;
    width: 380px;
    margin-top: -20px;
    overflow: hidden;
}
.card4 .img4{
    height: 650px;
    width: 380px;
    transition: 0.3s;
}
.card4 .img4:hover{
    scale: 1.05;
}

.explore-img .text1,.text2,.text3,.text4{
    position: relative;
    bottom: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}


/* Explore footer  */
.explore-footer{
    margin-top: 10pc;
    text-align: center;
    color: white;
    padding: 10px 0 ;
}

 .explore-btn{
    background-color: gray;
    outline:none;
    border: none ;
    font-weight: bold;
    transition:  0.3s ease;
    font-size: 15px;
    margin-top: 10px;
}
.explore-btn:hover{
    background-color: white;
    color: grey;
}
section{
    scroll-margin-top: -150px;
}


@media (max-width:1024px) and  (min-width:768px) {
    .explore-img{
        margin-left: 40px;
    }
    .cardOne ,.card2,.card3,.card4{
        height: 430px;
        width: 330px;
        border-radius: 10px;
    }
    .cardOne >.img1{
        height: 430px;
        width: 330px;
    }
    .card2{
        margin-top: 0;
    }

    .card2 >.img2{
        height: 430px;
        width: 330px;
    }
    .card3 , .card4{
        margin-top: 30px;
    }
    
    .card3 > .img3{
        height: 430px;
        width: 330px;
    }
    .card4 >.img4{
        height: 430px;
        width: 330px;
    }
    .bgimg{
        height: 75pc;
    }
}